<template name="register">
  <!-- About Section -->
  <section id="login" class="container content-section text-center login">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Please Register</h2>
        <p>Register to access administrator functionality. If you do not have an account and feel you require one please contact a site administrator at admin@meteor-mondays.com</p>

        <form class="form form-signin">
          <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
          <input type="password" class="form-control" name="password" placeholder="Password" required="" />

          <p class="clearfix"></p>
          <button class="btn btn-default btn-lg">
            <i class="fa fa-download fa-fw"></i>
            <span class="network-name">Register</span>
          </button>
        </form>
      </div>
    </div>
  </section>
</template>
