<template name="intro">
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Meteor Mondays</h1>
            <p class="intro-text">LANCASTER'S MONTHLY MEETUP FOR ALL THINGS <a href="http://meteor.com/" target="_new">METEOR</a>.
              <br>MEETING ON THE LAST MONDAY OF EVERY MONTH.</p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
