<template name="code">
  <!-- Code Section -->
    <section id="code" class="content-section text-center">
      <div class="code-section">
          <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                <h2>Source Code</h2>
                <p>Slides, notes, sample projects, and even this website are all open source on the METEOR MONDAYS Github repo.</p>
                <p>Want to help improve our community?  Ask for an invitation today!</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/Meteor-Mondays" target="_new" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
              </div>
          </div>
          <a href="#contact" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
          </a>
      </div>
    </section>
</template>