<template name="meetup">
  <!-- Meetup Section -->
  <section id="meeting" class="content-section text-center">
    <div class="download-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Meeting Meetup</h2>
          <p>Meetings are held
            <span style="color:yellow">every month</span> on the
            <span style="color:yellow">last Monday</span>, at
            <span style="color:yellow">6:30pm</span>, at
            <span style="color:yellow">551 West</span>.
            <br> 551 W King St, Lancaster, PA 17603</p>
          <p>
            <span style="color:yellow">Free Parking</span> is available across the street at Groff's Funeral Home near the corner of North Pine and West Grant Streets.</p>

          <a href="http://www.551west.com/" target="_new" class="btn btn-default btn-lg"><i class="fa fa-beer fa-fw"></i> <span class="network-name">551 West</span></a>
          <a href="http://www.thegroffs.com/" target="_new" class="btn btn-default btn-lg"><i class="fa fa-car fa-fw"></i> <span class="network-name">Groff's</span></a>
        </div>
      </div>
      <a href="#next" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </section>
</template>
