<template name="nextMeeting">
  <!-- Next Section -->
  <section id="next" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Next Meeting</h2>
        <p>We'll meet next in
          <span class="next" style="color:yellow"></span>
        </p>
        <ul class="countdown">
          <li>
            <span class="days">00</span>
            <p class="days_ref">days</p>
          </li>
          <li class="seperator">.</li>
          <li>
            <span class="hours">00</span>
            <p class="hours_ref">hours</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="minutes">00</span>
            <p class="minutes_ref">minutes</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="seconds">00</span>
            <p class="seconds_ref">seconds</p>
          </li>
        </ul>
        <a href="#code" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </section>
</template>
